.registrosMain {
    /* background-color: red; */
    flex: 1;
    min-height: 0;
    box-sizing: border-box;
    display: flex;
}

.esquerdaJanela {
    background-color: var(--fundo);
    width: 25dvw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    z-index: 500;
}

.esquerdaRegistros {
    display: flex;
    flex-direction: column;
}

.topoJanela {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.topoJanela input {
    margin: 6px 0px;
}

.inputsPeriodo {
    display: flex;
    min-width: 0;
    min-height: 0;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.inputsPeriodo input {
    flex: 1;
    min-width: 0;
}

.inputsPeriodo select {
    flex: 1;
}

.direitajanela {
    flex: 1;
    min-width: 0;
    min-height: 0;
    box-sizing: border-box;
}

.listaJanela {
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
    flex: 1;
    overflow-y: auto;
}

.itemViagemLista {
    padding: 15px;
    border-top: 1px solid rgba(0, 0, 0, .2);
    cursor: pointer;
}

.itemViagemLista:hover {
    background-color: white;
}

.botaoExibirJanela {
    position: absolute;
    top: 50%;
    left: 0px;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 60px;
    z-index: 100000;
    display: none;

    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border: solid 1px white;
    color: var(--destaque1);
}

.botaoExibirJanela:hover {
    background-color: white;
}

.botaoFecharJanelaLateral {
    display: none;
}

@media (max-width: 1200px) {
    .esquerdaJanela {
        width: 30dvw;
    }
}

@media (max-width: 1000px) {
    .esquerdaJanela {
        width: 35dvw;
    }
}

@media (max-width: 800px) {
    .esquerdaJanela {
        display: none;
    }

    .esquerdaJanela.ativo {
        display: flex;
        position: fixed;
        box-sizing: border-box;
        width: 100dvw;
        height: calc(100% - 40px);
        left: 0;
        z-index: 1100;
    }

    .botaoExibirJanela {
        display: block;
    }

    .botaoFecharJanelaLateral {
        display: block;
    }
}